<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis 3 Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offinity.mapper.EmployeeListMapper">
<select id="selectEmployees" resultType="com.offinity.dto.EmployeeDTO">
  SELECT
    employee_id,
    name        AS employeeName,
    department  AS employeeDepartment,
    position    AS employeePosition,
    email       AS employeeEmail,
    phone_number AS employeePhoneNumber,
    created_at  AS employeeDateOfJoin
  FROM employee_directory
  ORDER BY created_at ASC
</select>


  <!-- 2) 전체 직원 수 조회 -->
 <select id="countEmployees" resultType="int">
    SELECT COUNT(*)
    FROM employee_directory
    <where>
      <if test="name != null and name != ''">
        AND name LIKE CONCAT('%', #{name}, '%')
      </if>
      <if test="department != null and department != ''">
        AND department LIKE CONCAT('%', #{department}, '%')
      </if>
      <if test="position != null and position != ''">
        AND position LIKE CONCAT('%', #{position}, '%')
      </if>
    </where>
  </select>
	
	  <!-- 직원 정보 수정 -->
  <update id="updateEmployee" parameterType="com.offinity.dto.EmployeeDTO">
    UPDATE employee_directory
    SET
      name        = #{employeeName},
      department  = #{employeeDepartment},
      position    = #{employeePosition},
      email       = #{employeeEmail},
      phone_number= #{employeePhoneNumber}
    WHERE employee_id = #{employeeId}
  </update>

  <!-- 직원 삭제 -->
  <delete id="deleteEmployee" parameterType="string">
    DELETE FROM employee_directory
    WHERE employee_id = #{id}
  </delete>

</mapper>