<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis 3 Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offinity.mapper.SampleMapper">
	<select id="getSampleList" resultType="com.offinity.dto.Sample">
		SELECT * FROM sample_table;
	</select>
</mapper>