<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis 3 Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offinity.mapper.UserMapper">
	<select id="isDuplicateEmail" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM offinity_user
		WHERE user_email = #{userEmail};
	</select>
	
	<insert id="createUser" parameterType="com.offinity.dto.User">
		INSERT INTO offinity_user (user_id, user_name, user_email, user_password, user_security_question, user_security_answer, user_role)
		VALUES (#{userId}, #{userName}, #{userEmail}, #{userPassword}, #{userSecurityQuestion}, #{userSecurityAnswer}, #{userRole});
	</insert>
	
	<select id="isUserExist" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM offinity_user
		WHERE user_name = #{userName};
	</select>
	
	<select id="getUserByEmail" parameterType="String" resultType="com.offinity.dto.User">
		SELECT *
		FROM offinity_user
		WHERE user_email = #{userEmail};
	</select>
	
	<select id="getUserByName" parameterType="String" resultType="com.offinity.dto.User">
		SELECT *
		FROM offinity_user
		WHERE user_name = #{userName};
	</select>
	
	
	
</mapper>